In [0]:
import pandas as pd
import numpy as np

## Cargar datos
---

In [2]:
people = pd.read_csv('./people.csv')
people.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (39) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    people_id  char_1      group_1  char_2  ... char_35 char_36 char_37 char_38
0     ppl_100  type 2  group 17304  type 2  ...    True    True   False    36.0
1  ppl_100002  type 2   group 8688  type 3  ...    True    True   False    76.0
2  ppl_100003  type 2  group 33592  type 3  ...   False    True    True    99.0
3  ppl_100004  type 2  group 22593  type 3  ...    True    True    True    76.0
4  ppl_100006  type 2   group 6534  type 3  ...    True    True   False    84.0

[5 rows x 41 columns]

In [3]:
activity = pd.read_csv('./act_train.csv')
activity.head()

  people_id   activity_id        date  ... char_9  char_10 outcome
0   ppl_100  act2_1734928  2023-08-26  ...    NaN  type 76     0.0
1   ppl_100  act2_2434093  2022-09-27  ...    NaN   type 1     0.0
2   ppl_100  act2_3404049  2022-09-27  ...    NaN   type 1     0.0
3   ppl_100  act2_3651215  2023-08-04  ...    NaN   type 1     0.0
4   ppl_100  act2_4109017  2023-08-26  ...    NaN   type 1     0.0

[5 rows x 15 columns]

## Completitud de datos
---

In [4]:
print(people.shape)
print(people.isnull().sum()/people.shape[0])

(88227, 41)
people_id    0.000000
char_1       0.000000
group_1      0.000000
char_2       0.000000
date         0.000000
char_3       0.000000
char_4       0.000000
char_5       0.000000
char_6       0.000000
char_7       0.000000
char_8       0.000000
char_9       0.000000
char_10      0.000000
char_11      0.000000
char_12      0.000000
char_13      0.000000
char_14      0.000000
char_15      0.000000
char_16      0.000000
char_17      0.000000
char_18      0.000000
char_19      0.000000
char_20      0.000000
char_21      0.000000
char_22      0.000000
char_23      0.000000
char_24      0.000000
char_25      0.000000
char_26      0.000000
char_27      0.000000
char_28      0.000000
char_29      0.000000
char_30      0.000000
char_31      0.000000
char_32      0.000000
char_33      0.000000
char_34      0.000000
char_35      0.000000
char_36      0.000000
char_37      0.000000
char_38      0.000011
dtype: float64

In [5]:
print(activity.shape)
print(activity.isnull().sum()/activity.shape[0])

(360850, 15)
people_id            0.000000
activity_id          0.000000
date                 0.000000
activity_category    0.000000
char_1               0.929877
char_2               0.929877
char_3               0.929877
char_4               0.929877
char_5               0.929877
char_6               0.929877
char_7               0.929877
char_8               0.929877
char_9               0.929877
char_10              0.070126
outcome              0.000003
dtype: float64

In [6]:
activity.columns

Index(['people_id', 'activity_id', 'date', 'activity_category', 'char_1',
       'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8',
       'char_9', 'char_10', 'outcome'],
      dtype='object')

In [7]:
activity.drop(['char_1','char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7',\
              'char_8','char_9'], axis='columns', inplace=True)
print(activity.shape)
activity.head()

(360850, 6)

  people_id   activity_id        date activity_category  char_10  outcome
0   ppl_100  act2_1734928  2023-08-26            type 4  type 76      0.0
1   ppl_100  act2_2434093  2022-09-27            type 2   type 1      0.0
2   ppl_100  act2_3404049  2022-09-27            type 2   type 1      0.0
3   ppl_100  act2_3651215  2023-08-04            type 2   type 1      0.0
4   ppl_100  act2_4109017  2023-08-26            type 2   type 1      0.0

In [8]:
activity = activity.rename(columns={'date':'fecha_actividad', 'char_10':'tipo_actividad'})
activity.head(1)

  people_id   activity_id  ... tipo_actividad outcome
0   ppl_100  act2_1734928  ...        type 76     0.0

[1 rows x 6 columns]

In [0]:
activity['tipo_actividad'] = activity['tipo_actividad'].fillna(activity['tipo_actividad'].mode()[0])

In [10]:
activity.isna().sum()/activity.shape[0]

people_id            0.000000
activity_id          0.000000
fecha_actividad      0.000000
activity_category    0.000000
tipo_actividad       0.000000
outcome              0.000003
dtype: float64

In [11]:
consolidado = activity.merge(people, on=['people_id'], how='inner')
print(activity.shape, consolidado.shape)

(360850, 6) (360850, 46)

In [0]:
consolidado['char_37'] = consolidado['char_37'].astype('bool')

In [13]:
tipos = consolidado.dtypes
tipos.value_counts()

bool       28
object     16
float64     2
dtype: int64

In [0]:
consolidado = consolidado.replace({True:1, False:0})

In [15]:
tipos = consolidado.dtypes
tipos.value_counts()

int64      28
object     16
float64     2
dtype: int64

In [0]:
consolidado.dropna(inplace=True)
consolidado['outcome'] = consolidado['outcome'].astype('int64')
consolidado['char_38'] = consolidado['char_38'].astype('int64')

## Conversión de tipos de datos
---

In [17]:
tipos = consolidado.dtypes
tipos.value_counts()

int64     30
object    16
dtype: int64

In [18]:
consolidado.isna().sum().value_counts()

0    46
dtype: int64

In [0]:
consolidado['people_id'] = consolidado['people_id'].str.slice(start=4).astype(float).astype(int)

In [0]:
consolidado['activity_id'] = consolidado['activity_id'].str.slice(start=5).astype(float).astype(int)
consolidado['activity_category'] = consolidado['activity_category'].str.slice(start=5).astype(float).astype(int)
consolidado['group_1'] = consolidado['group_1'].str.slice(start=6).astype(float).astype(int)
consolidado['tipo_actividad'] = consolidado['tipo_actividad'].str.slice(start=5).astype(float).astype(int)

In [21]:
consolidado_obj = consolidado.select_dtypes('object')

for column in consolidado_obj.columns:
  print(f'Column {column} has {len(consolidado_obj[column].unique())} distinct values')

Column fecha_actividad has 411 distinct values
Column char_1 has 2 distinct values
Column char_2 has 3 distinct values
Column date has 1146 distinct values
Column char_3 has 41 distinct values
Column char_4 has 25 distinct values
Column char_5 has 9 distinct values
Column char_6 has 7 distinct values
Column char_7 has 25 distinct values
Column char_8 has 8 distinct values
Column char_9 has 9 distinct values

In [0]:
consolidado['date'] = pd.to_datetime(consolidado['date'])

In [23]:
consolidado['dia'] = consolidado['date'].dt.day
consolidado['dia'].head()

0    29
1    29
2    29
3    29
4    29
Name: dia, dtype: int64

In [24]:
consolidado['dia_semana'] = consolidado['date'].dt.weekday
consolidado['dia_semana'].head()

0    1
1    1
2    1
3    1
4    1
Name: dia_semana, dtype: int64

In [0]:
consolidado['semana'] = consolidado['date'].dt.week
consolidado['mes'] = consolidado['date'].dt.month
consolidado['trimestre'] = consolidado['date'].dt.quarter
consolidado['año'] = consolidado['date'].dt.year

In [0]:
consolidado['fecha_actividad'] = pd.to_datetime(consolidado['fecha_actividad'])

consolidado['dia_actividad'] = consolidado['fecha_actividad'].dt.day
consolidado['dia_semana_actividad'] = consolidado['fecha_actividad'].dt.weekday
consolidado['semana_actividad'] = consolidado['fecha_actividad'].dt.week
consolidado['mes_actividad'] = consolidado['fecha_actividad'].dt.month
consolidado['trimestre_actividad'] = consolidado['fecha_actividad'].dt.quarter
consolidado['año_actividad'] = consolidado['fecha_actividad'].dt.year

In [0]:
del consolidado['date']
del consolidado['fecha_actividad']

In [28]:
consolidado.dtypes.value_counts()

int64     47
object     9
dtype: int64

### Variables categóricas (one hot encoding)

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [0]:
numeric_columns = list(set(consolidado.select_dtypes('int64')) - set(['outcome']))
categoric_columns = list(consolidado.select_dtypes('object'))

objetivo = consolidado['outcome']
variables_consolidadas = consolidado[numeric_columns]

In [0]:
categoric_values = consolidado[categoric_columns]
enc = OneHotEncoder(sparse=False)
categoric_values = pd.DataFrame(enc.fit_transform(categoric_values))
categoric_values.columns = enc.get_feature_names(categoric_columns)

variables_consolidadas = pd.concat([variables_consolidadas, categoric_values], axis=1)

In [32]:
variables_consolidadas.head(3)

   char_22  char_27  dia_actividad  ...  char_9_type 7  char_9_type 8  char_9_type 9
0        0        1             26  ...            0.0            0.0            0.0
1        0        1             27  ...            0.0            0.0            0.0
2        0        1             27  ...            0.0            0.0            0.0

[3 rows x 175 columns]

In [33]:
variables_consolidadas.dtypes.value_counts()

float64    129
int64       46
dtype: int64